body {
}

#wrapper {
  margin-right: auto; margin-left: auto; 
	width: 99%;
}

#content {
  position: absolute;
	width: 98%;
  min-height:98%;
}

#header {
	background-image: url(banner-top.png), url(bg-top.png);
  background-position: right, left;
  background-repeat: no-repeat, repeat;
	position: relative;
	width: 100%;
  top: 0px;
  height: 200px;
}

#footer {
	position: absolute;
	width: 100%;
  bottom: 0px;
}

#content-inside {
  position: relative;
  margin-right: auto; margin-left: auto; 
	width: 80%;
}

#header-inside {
	position: relative;
  margin-right: auto; margin-left: auto; 
	width: 80%;
}

#footer-inside {
	position: relative;
  margin-right: auto; margin-left: auto; 
	width: 80%;
}
